<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script type="text/javascript" src="https://unpkg.com/swiper@7.4.1/swiper.esm.js"></script>
    -->
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />

    <!--<script src="~/Scripts/script.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="~/Home/Index" class="logo"> <span>my</span>showroom </a>
        <nav class="navbar">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Vehicles", "ViewAll", "Home")
            <a href="#featured">featured</a>
            <a href="#contact">contact</a>
        </nav>
        @if (Session["UserID"] == null)
        {
            @Html.ActionLink("Login", "Login", "Home", new { @class = "btn" })
        }
        else
        {
            <div>Hello: @Session["UserName"]! <a>@Html.ActionLink("Logout", "Logout", "Home")</a></div>
        }
        

    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>our branches</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> vietnam </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> japan </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> korea </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#home"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#vehicles"> <i class="fas fa-arrow-right"></i> vehicles </a>
                <a href="#featured"> <i class="fas fa-arrow-right"></i> featured </a>
                <a href="#contact"> <i class="fas fa-arrow-right"></i> contact </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> myshowroom@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> 54 le thanh nghi, hai ba trung, ha noi, viet nam </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-youtube"></i> youtube </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>

        </div>



    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>
