@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://kit.fontawesome.com/978d172811.js" crossorigin="anonymous"></script>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<style>
        body{
             background-image: url('@Url.Content("~/Content/Images/backgroundAD.jpg")');
             background-size:cover;
        }
        .containerr {
            background-color: white;
            opacity: 0.8;
            height: 580px;
            width: 1140px;
            border-radius: 5px;
            padding-left: 15px;
        }

        .h2 {
            font-family: Cooper;
            font-size: 50px;
        }

</style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="opacity:0.5;">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Vehicle", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin", "Index", "Admins")</li>
                    <li>@Html.ActionLink("Customer", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Sale", "Index", "Sales")</li>
                    <li>@Html.ActionLink("ShowRoom", "Index", "ShowRooms")</li>
                    <li>@Html.ActionLink("Vehicle Img", "Index", "VehicleImgs")</li>
                    <li>@Html.ActionLink("Vehicle", "Index", "Vehicles")</li>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOut", "Admins", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right" style="padding-left:250px">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manager" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right" style="padding-left:300px">
                            <li>
                                @Html.ActionLink("Log in", "LoginAdmin", "Admins", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </li>
                        </ul>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
         <hr / style="opacity:0.2;">
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
