@using Vehicle_ShowRoom_Manager_System.Models
@model UserRegister

@using (Html.BeginForm("UserRegister", "Home", FormMethod.Post, new { @class = "signup" }))
{
    <div class="field">
        @Html.TextBoxFor(model => model.UserName, new { @placeholder = "UserName", required = "required"})
    </div>
    <div class="field">
        @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", required = "required" })
    </div>
    <div class="field">
        @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = "Confirm password", required = "required" })
    </div>
    <div class="field">
        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email Address", required = "required" })
    </div>
    <div class="field">
        @Html.TextBoxFor(model => model.Address, new { @placeholder = "Address", required = "required" })
    </div>
    <div class="field">
    </div>
    <div class="field btn">

        <input type="submit" value="Sign Up">
    </div>
}
