@model Vehicle_ShowRoom_Manager_System.Models.VehicleImg

@{
    ViewBag.Title = "Details";
}
<div class="containerr">
    <h2 class="h2">Details Vehicle Img</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ImgPath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImgPath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehicle.VehicleName)
            </dd>

        </dl>
    </div>
    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Back to List", "Index")
        </button>
        <button class="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ImgId })
        </button>

       
    </p>
</div>