@model Vehicle_ShowRoom_Manager_System.Models.Admin

@{
    ViewBag.Title = "Details";
}

<div class="containerr">
    <h2 class="h2">Details Admin</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AdminName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
    <p>

        <button class="btn btn-default">
            @Html.ActionLink("Back to List", "Index")
        </button>
        <button class="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId })
        </button>
    </p>
</div>