@using PagedList.Mvc;
@model PagedList.IPagedList<Vehicle_ShowRoom_Manager_System.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<div class="containerr">
    <h2 class="h2">Admin</h2>

    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Create New", "Create")
        </button>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Admin Name", "Index",
               new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Admins", new { id = item.AdminId })" class="btn btn-sm btn-success" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="@Url.Action("Details", "Admins", new { id = item.AdminId })" class="btn btn-sm btn-warning" title="Details"><i class="fa-solid fa-eye"></i></a>
                    <a href="@Url.Action("Delete", "Admins", new { id = item.AdminId })" class="btn btn-sm btn-danger" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        } 

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>