@model Vehicle_ShowRoom_Manager_System.Models.ShowRoom

@{
    ViewBag.Title = "Details";
}
<div class="containerr">
    <h2 class="h2">Details ShowRoom</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoomAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Admin.AdminName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Admin.AdminName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehicle.VehicleName)
            </dd>

        </dl>
    </div>
    <p>
        <button class="btn btn-default">
            @Html.ActionLink("Back to List", "Index")
        </button>
        <button class="btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId })
        </button>

    </p>
</div>