@using Vehicle_ShowRoom_Manager_System.Models
@model UserRegister

<body class="bodylogin">
    <div class="login-02">
        <div class="two-login  hvr-float-shadow">
            <div class="two-login-head">
                <img src="~/image/top-note.png" alt="" />
                <h2>register</h2>
                <lable></lable>
            </div>
            @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "formlogin" }))
            {
                @Html.AntiForgeryToken()
                <div>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "text", placeholder = "User Name" })
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "text", placeholder = "Email" })
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Address, new { @class = "text", placeholder = "Address" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.Gender,
                   new List<SelectListItem> {
                       new SelectListItem { Value = "male", Text = "male" },
                       new SelectListItem { Value = "female", Text = "female"}}, new { @class = "text", placeholder = "gender" })
                </div>
                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "text", placeholder = "Password" })
                </div>
                <div>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "text", placeholder = "Confirm Password" })
                </div>
                <div class="p-container">
                    <label class="checkbox two"><input type="checkbox" name="checkbox" checked><i></i>I agree to the <a href="#">Terms of Servicee</a></label>
                </div>
                <div class="submit two">
                    <input type="submit" value="SIGN UP">
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            }
        </div>
    </div>
</body>