@using PagedList.Mvc;
@model PagedList.IPagedList<Vehicle_ShowRoom_Manager_System.Models.Vehicle>

@{
    ViewBag.Title = "View all";

}

<div class="login-form-container">

    <span id="close-login-form" class="fas fa-times"></span>

    <form action="">
        <h3>user login</h3>
        <input type="email" placeholder="email" class="box">
        <input type="password" placeholder="password" class="box">
        <input type="submit" value="login" class="btn">
    </form>

</div>
<div class="body">
    <section class="car-container">
        <h1 class="heading"> <span>All</span><span> Off</span><span> Our</span><span> Cars</span> </h1>
        <div class="car-content">
            @foreach (var item in Model)
            {
                <div class="box">
                    <div class="box-img">
                        <img src="@Html.DisplayFor(modelitem => item.VehicleImg.FirstOrDefault().ImgPath)">
                    </div>
                    <p>2019</p>
                    <div class="rating">
                        <h3>@Html.DisplayFor(modelItem => item.VehicleName)</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <hr>
                    <h2>@Html.DisplayFor(modelItem => item.Price) vnd</h2>
                    @Html.ActionLink("Detail", "CarDetail", "Home", new { id = item.VehicleId }, new { @class = "btn" })
                </div>
            }
        </div>
        <div class="car-content">
            @Html.PagedListPager(Model, page => Url.Action("ViewAll", new { page }))
        </div>
    </section>
</div>
